@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}

.nav__responsive-ul{

display: none;

}


.nav{

    background-color: blueviolet;
}
.nav__li{
    
    display: inline-block;
    padding: 12px;
    color: #fff;
}


.nav__li a{

    color: #fff;
    text-decoration: none;
}