@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   
.header{

    position: fixed;
    left: 0px;
    top: 0px;
    height: 90px;
    width: 100%;
    /*backdrop-filter: blur(40px);*/
    z-index: 4;
}

nav{

    background: #122beb00;
    height: 80px;
    width: 100%;    
}


.enlace{

    position: absolute;
    padding: 20px 50px;
}


.logo{
   
    width: 60px;
    height: 30px;
}


.nav__ul{

    float:right;
    margin-right: 50px;
    

}

.nav__li{

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: #fff;
    text-align:center;
}


.nav__li a{

    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10%;
    padding: 0px 10px;
    color: #fff;
}


.nav__li i{


    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 10px;

}

.nav__li a:hover{

background: rgb(158, 156, 167);
transition: .5s;

}


.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}


#check{

    display: none;
}

section{
    background: url(../fonts/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}



@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav__li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav__li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav__li a{
        font-size: 20px;
    }
    nav__li a:hover{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}


