/*controla la parte inferior del header, he pensado en poner un bienvenidos y un logo de lo que es desarrollo de sofware*/

.hero
{
   position: relative;
   top: 80px;
    display:flex;
    justify-content: space-between;
}
.hero-imag 
{
   /*overflow: hidden;*/
}
.hero-descripcion{

    color:white;
    position: relative;
    top: 100px;
    font-size: 18px;
}
.hero-descripcion strong
{
    color: rebeccapurple;

}