/*controla la parte inferior del header, he pensado en poner un bienvenidos y un logo de lo que es desarrollo de sofware*/

.hero
{
   position: relative;
   top: 80px;
    display:flex;
    justify-content: space-between;
    height: auto;
}
.hero-imag 
{
   overflow: hidden;
}
.hero-descripcion{

    color:white;
    position: relative;
    top: 60px;
    font-size: 18px;
    overflow: hidden;
}
.hero-descripcion strong
{
    color: rgba(102, 51, 153, 0.813);

}