.descripcion
{
    max-width: 1400px;
    margin: auto;
    position:absolute;
    top: 95%;
    display: flex;
}
.imagen
{
    background-image: url(/fonts/desarrollo-de-sotware.png);
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 50%;
}

.texto
{
    max-width: 50%;
    padding: 0px 5px 0px 50px;
    left: 10px;
}
.consecuencias
{
    max-width: 1400px;
    margin: auto;
    position:absolute;
    top: 155%;
    display: flex;
}
.textoConsecuencia
{
    max-width: 50%;
    padding: 0px 5px 0px 50px;
    left: 10px;
}
.imagenConsecuencia
{
    background-image: url(/fonts/desarrollo.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 48%;
    border-radius: 20px;
    
}