.hero h1
{
    position: relative;
    top: 110px;
    left: 30px;
    font: var(--headline2);
    color: rgb(254, 254, 254);
    z-index: 2;
    box-sizing: border-box;
}
.bg_color{
    width: 100%;
    height: 60%;
    background: #000000;
    position: absolute;
    top: 0;
}

/* .wave{
    width: 5100px;
    height: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    background-image: url(/fonts/wd1.svg);
    background-position: bottom;  
}
.w1
{
    animation: w1 7s linear infinite;
} */

@keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
/* .w2{
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease  -.125s infinite;
    opacity: 0.5;
} */
@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-25px);
    }
    50%{
        transform: translateY(10px);
    }

}
.imagenesHistoria
{
    background-image: url("/fonts/historiahero.jpeg");
    z-index: 2;
    position:absolute;
    top: 15%;
    left: 60%;
    height: 55%;
    width: 35%;
    border-radius: 30px;
}
